body {
  background-color: rgb(0, 0, 0);
}

#header1 {
  position: relative;
  left: 450px;
  font-size: 40px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#header3 {
  position: relative;
  left: 590px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

#dog-pic {
  position: relative;
  left: 430px;
}
#link1 {
  position: relative;
  left: 250px;
}
#link2 {
  position: relative;
  left: 545px;
  bottom: 35px;
}
#link3 {
  position: relative;
  left: 1000px;
  bottom: 70px;
}

.internet-link,
.internet-link:hover,
.internet-link:active,
.internet-link:visited,
.internet-link:focus {
  text-decoration: none;
  color: rgb(142, 190, 126);
  font-size: 30px;
}
