body {
  background-color: rgb(233, 231, 221);
}

#header1 {
  position: relative;
  left: 450px;
  font-size: 40px;
}

#header2 {
  position: relative;
  left: 500px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#header3 {
  position: relative;
  left: 600px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#link-1 {
  text-decoration: none;
}
