body {
  background-color: rgb(245, 229, 196);
}

#header1 {
  position: relative;
  left: 450px;
  font-size: 40px;
}

#header2 {
  position: relative;
  left: 500px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#header3 {
  position: relative;
  left: 600px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#link-1 {
  text-decoration: none;
  color: orange;
}
#link-1:visted {
  text-decoration: none;
  color: orange;
}
#link-1:hover {
  cursor: pointer;
  color: orange;
}
#link-1-anchor {
  text-decoration: none;
  color: orange;
}

#dog-pic {
  position: relative;
  top: 50px;
  left: 430px;
}
